---
const title = 'Charlie Hield'
const description = 'Seasoned full-stack web developer with 14+ years of experience living in Minneapolis, MN.'
const url = 'https://charliehield.com'
const image = 'https://charliehield.com/og.png'
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="https://fav.farm/🕺" />
    <link rel="preconnect" href="https://fonts.bunny.net" />
    <link href="https://fonts.bunny.net/css?family=inter:400&display=swap" rel="stylesheet" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={url} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={url} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={image} />
    <script defer src="https://analytics.stursby.cloud/script.js" data-website-id="e7bb7b98-daab-4b15-85f8-3a4a357802c2"
    ></script>
  </head>
  <body>
    <slot />
  </body>
</html>
